body {
    margin:0 auto;
}

.header {
    float: left;
    width: 100%;
    margin:0 auto;
    background-color:#ffffff;
    border: solid 1px #cccccc;
}

#name {
    float:left;
    color:white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 130px;
    padding-left: 20px;
    padding-right: 20px;
}

#links {
    float:right;
    color: #777777;
    font-family: 'Helvetiva Neue', Helvetica, sans-serif; 
    margin-top:30px;  
    margin-right: 190px;
}

.container {
    clear:both;
    background-image: url("https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg");
    width:100%;
    float:left;
}

.center {
    background-color: #ffffff;
    width:960px;
    margin: 0 auto;
    float: left;
    border: solid 1px #cccccc;
    margin-left: 130px;
    
}

.sectionTitle {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text {
    color: #777777;
    font-family: 'Helvetiva Neue', Helvetica, sans-serif;   
}

.profile {
    height:200px;
    width: auto;
    float: left;
}

.footer {
    background-color: #666666;
    position: absolute;
    float: left;
}